<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Lorem PugJs">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <title>Golf Hospital</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/home.css">
    <!--link(rel='stylesheet',href='css/home-rtl.css')-->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/wfmi-style.css">
    <link rel="stylesheet" href="css/daterangepicker.css">
    <link rel="icon" href="images/favicon.png" type="image/png">
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/newsbox.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/daterangepicker.js"></script>
    <script src="js/plugin.js">  </script>
  </head>
  <body>
    <header class="header w-100">
      <div class="minheader w-100">
        <div class="container">
          <nav class="social"> <a class="fab fa-facebook-f icon-facebook" href="#" title="Facebook"></a><a class="fab fa-twitter icon-twitter" href="#" title="Twitter"></a><a class="fab fa-google-plus-g icon-gplus" href="#" title="Google-plus"></a><a class="fab fa-instagram icon-instagram" href="#" title="Instagram"></a><a class="fab fa-whatsapp icon-whatsapp" href="#" title="Whatsapp"></a></nav>
          <nav class="navmenu"><a href="request an appointment.html">request an appointment</a><a href="faq.html">faq</a><a href="عربى.html">عربى</a>
          </nav>
        </div>
      </div>
      <div class="container">
        <div class="logo"><a href="#"> <img src="images/logo.png"></a></div>
        <div id="cssmenu">
          <div id="head-mobile"></div>
          <div class="button"> </div>
          <ul>
            <li><a class="active" href="#">home </a></li>
            <li><a href="#">about us</a>
              <ul>
                <li><a href="#">vision, Mission , values</a></li>
                <li><a href="#">CEO’s message</a></li>
                <li><a href="#">Management Team</a></li>
                <li><a href="#">Facilities</a></li>
              </ul>
            </li>
            <li><a href="#">Doctors</a></li>
            <li><a href="#">Departments</a></li>
            <li><a href="#">Info</a>
              <ul>
                <li><a href="#">Appointment Booking</a></li>
                <li><a href="#">Fees , Insurance</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">scientific articles</a></li>
                <li><a href="#">Videos</a></li>
              </ul>
            </li>
            <li><a href="#">Out Patient Clinics</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </div>
      </div>
    </header>
    <!--End header-->
    <section class="plan aboutinner w-100">
      <div class="container"> 
        <h4>about us</h4>
        <ul class="tm-breadcrumb">
          <li><a href="index.html">Home </a></li>
          <li>CEO’s message </li>
        </ul><!-- End Section Plan --> 
      </div>
    </section>
    <section class="about w-100">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 aboutiner aboutmerg">
            <h1 class="titlemax">CEO’s  <span>message</span></h1>
            <p>
               I am happy to extend my sincere thanks and appreciation to all our valued customers who choose Golf Hospital and gave it the honor to provide health care for them and always look forward to our services exceed your needs and expectations.Having faith in that, the hospital management and all its employees are always working to develop, modernize and raise the level of services they provide.
              As always we pledge to attract outstanding cadres and up to date equipment and facilities and the implementation of international standards of health care quality and safety of patients.
              And the family of the hospital is always keen to provide to our patients and their families a healthy and safe environment to gain their trust.
              Let our motto always be, Our goal is your health
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="plan w-100">
      <div class="overlay"></div>
      <div class="container">  
        <h4>APPOINTMENT REQUEST</h4>
        <p>If you wish to book an appointment with a doctor</p><a class="bottom" href="#"><i class="far fa-clock"></i>Appointment Booking</a>
      </div><!-- End Section -->  
    </section>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 boxfot text-center"><img src="images/logo.png">
            <p class="text">We are committed to provide comprehensive treatment in the medical field emphasizing that patient is the most important element in our system.</p>
          </div>
          <div class="col-md-4 boxfot"> 
            <h6 class="title">site links</h6>
            <nav class="navmenu"><a href="home.html">home</a><a href="vision, Mission , values.html">vision, Mission , values</a><a href="CEO’s message.html">CEO’s message</a><a href="Management Team.html">Management Team</a><a href="Facilities.html">Facilities</a><a href="news.html">news</a><a href="faq.html">faq</a><a href="Careers.html">Careers</a><a href="Videos.html">Videos</a><a href="Doctors.html">Doctors</a><a href="Out Patient Clinics.html">Out Patient Clinics</a><a href="Contact us.html">Contact us</a>
            </nav>
          </div>
          <div class="col-md-4 boxfot"> 
            <h6 class="title">Contact us</h6>
            <div class="textfooter"><i class="fas fa-map-marker-alt"></i>
              <p><b>Address</b><br>Nabil El-Wakad - Ard El- Golf - Heliopolis</p>
            </div>
            <div class="textfooter"><i class="fas fa-phone"></i>
              <p><b>phone</b><br>(+20) 2415-3922</p>
            </div>
            <div class="textfooter"><i class="fas fa-envelope"></i>
              <p><b>email</b><br><a href="#"> info@gihegypt.com       </a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="leftprif w-100"> 
        <div class="container">
          <h6>Follow Us</h6>
          <nav class="social"> <a class="fab fa-facebook-f icon-facebook" href="#" title="Facebook"></a><a class="fab fa-twitter icon-twitter" href="#" title="Twitter"></a><a class="fab fa-google-plus-g icon-gplus" href="#" title="Google-plus"></a><a class="fab fa-instagram icon-instagram" href="#" title="Instagram"></a><a class="fab fa-whatsapp icon-whatsapp" href="#" title="Whatsapp"> </a></nav>
        </div>
      </div>
      <div class="copyright w-100"> 
        <div class="container">
          <p> Copyright © 2019 all rights reserved</p><a href="#"><i class="fas fa-mobile-alt"></i>Emergency Line <br>19552</a>
        </div>
      </div><a class="fa fa-angle-up scrollToTop" href="#"></a>
    </footer>
  </body>
</html>