<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Lorem PugJs">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <title>Golf Hospital</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/home.css">
    <!--link(rel='stylesheet',href='css/home-rtl.css')-->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/wfmi-style.css">
    <link rel="stylesheet" href="css/daterangepicker.css">
    <link rel="icon" href="images/favicon.png" type="image/png">
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/newsbox.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/daterangepicker.js"></script>
    <script src="js/plugin.js">  </script>
  </head>
  <body>
    <header class="header w-100">
      <div class="minheader w-100">
        <div class="container">
          <nav class="social"> <a class="fab fa-facebook-f icon-facebook" href="#" title="Facebook"></a><a class="fab fa-twitter icon-twitter" href="#" title="Twitter"></a><a class="fab fa-google-plus-g icon-gplus" href="#" title="Google-plus"></a><a class="fab fa-instagram icon-instagram" href="#" title="Instagram"></a><a class="fab fa-whatsapp icon-whatsapp" href="#" title="Whatsapp"></a></nav>
          <nav class="navmenu"><a href="request an appointment.html">request an appointment</a><a href="faq.html">faq</a><a href="عربى.html">عربى</a>
          </nav>
        </div>
      </div>
      <div class="container">
        <div class="logo"><a href="#"> <img src="images/logo.png"></a></div>
        <div id="cssmenu">
          <div id="head-mobile"></div>
          <div class="button"> </div>
          <ul>
            <li><a class="active" href="#">home </a></li>
            <li><a href="#">about us</a>
              <ul>
                <li><a href="#">vision, Mission , values</a></li>
                <li><a href="#">CEO’s message</a></li>
                <li><a href="#">Management Team</a></li>
                <li><a href="#">Facilities</a></li>
              </ul>
            </li>
            <li><a href="#">Doctors</a></li>
            <li><a href="#">Departments</a></li>
            <li><a href="#">Info</a>
              <ul>
                <li><a href="#">Appointment Booking</a></li>
                <li><a href="#">Fees , Insurance</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">scientific articles</a></li>
                <li><a href="#">Videos</a></li>
              </ul>
            </li>
            <li><a href="#">Out Patient Clinics</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </div>
      </div>
    </header>
    <!--End header-->
    <section class="plan aboutinner w-100">
      <div class="container">
        <h4>About</h4>
        <ul class="tm-breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li><a href="index.html">Management Team</a></li>
          <li>DR.Ahmed EL-Nabeel</li>
        </ul>
      </div>
    </section><!-- End Section Plan -->
    <section class="patient newsiner w-100">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 section-ne">
            <div class="itemone dr-detals teambac">
              <div class="drimg"><img class="w-100" src="images/doc-img.jpg" alt=""></div>
              <h3>DR.Ahmed EL-Nabeel</h3>
              <p>General Surgery </p>
            </div>
          </div>
          <div class="col-sm-9 section-ne">
            <div class="news-sec ime-inernews w-100">
              <div class="detels-doc abuatteam w-100"> 
                <h2 class="titlemax">biography</h2>
                <p> iRendered Her For Put Improved Concerns His. Ladies Bed Wisdom Theirs Mrs Men Months Set. Everything So Dispatched As It Increasing Pianoforte. Hearing Now Saw Perhaps Minutes Herself His. Of IRendered Her For Put Improved Concerns His. Ladies Bed Wisdom Theirs Mrs Men Months Set. Everything So Dispatched As It Increasing Pianoforte. Hearing Now Saw Perhaps Minutes Herself His. Of IRendered Her For Put Improved Concerns His. Ladies Bed Wisdom Theirs Mrs Men Months Set. Everything So Dispatched As It Increasing Pianoforte. Hearing Now Saw Perhaps Minutes Herself His. Of IRendered Her For Put Improved Concerns His. Ladies Bed Wisdom Theirs Mrs Men Months Set. Everything So Dispatched As It Increasing Pianoforte. Hearing Now Saw Perhaps Minutes Herself His. Of</p><strong>Communication</strong>
                <nav class="last-commun"><a href="#"><i class="fas fa-phone-volume"></i>0000000000000000</a><a href="#"><i class="fas fa-envelope-open"></i>AhmedELNabeel@yahoo.com</a><a href="#"><i class="fas fa-globe"></i>www.AhmedELNabeel.com </a></nav>
                <nav class="social"> <a class="fab fa-facebook-f icon-facebook" href="#" title="Facebook"></a><a class="fab fa-twitter icon-twitter" href="#" title="Twitter"></a><a class="fab fa-google-plus-g icon-gplus" href="#" title="Google-plus"></a><a class="fab fa-instagram icon-instagram" href="#" title="Instagram"></a><a class="fab fa-whatsapp icon-whatsapp" href="#" title="Whatsapp"> </a></nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="plan w-100">
      <div class="overlay"></div>
      <div class="container">
        <h4>APPOINTMENT REQUEST</h4>
        <p>If you wish to book an appointment with a doctor</p><a class="bottom" href="#"><i class="far fa-clock"></i>Appointment Booking</a>
      </div>
    </section><!-- End Section plan-->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 boxfot text-center"><img src="images/logo.png">
            <p class="text">We are committed to provide comprehensive treatment in the medical field emphasizing that patient is the most important element in our system.</p>
          </div>
          <div class="col-md-4 boxfot"> 
            <h6 class="title">site links</h6>
            <nav class="navmenu"><a href="home.html">home</a><a href="vision, Mission , values.html">vision, Mission , values</a><a href="CEO’s message.html">CEO’s message</a><a href="Management Team.html">Management Team</a><a href="Facilities.html">Facilities</a><a href="news.html">news</a><a href="faq.html">faq</a><a href="Careers.html">Careers</a><a href="Videos.html">Videos</a><a href="Doctors.html">Doctors</a><a href="Out Patient Clinics.html">Out Patient Clinics</a><a href="Contact us.html">Contact us</a>
            </nav>
          </div>
          <div class="col-md-4 boxfot"> 
            <h6 class="title">Contact us</h6>
            <div class="textfooter"><i class="fas fa-map-marker-alt"></i>
              <p><b>Address</b><br>Nabil El-Wakad - Ard El- Golf - Heliopolis</p>
            </div>
            <div class="textfooter"><i class="fas fa-phone"></i>
              <p><b>phone</b><br>(+20) 2415-3922</p>
            </div>
            <div class="textfooter"><i class="fas fa-envelope"></i>
              <p><b>email</b><br><a href="#"> info@gihegypt.com       </a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="leftprif w-100"> 
        <div class="container">
          <h6>Follow Us</h6>
          <nav class="social"> <a class="fab fa-facebook-f icon-facebook" href="#" title="Facebook"></a><a class="fab fa-twitter icon-twitter" href="#" title="Twitter"></a><a class="fab fa-google-plus-g icon-gplus" href="#" title="Google-plus"></a><a class="fab fa-instagram icon-instagram" href="#" title="Instagram"></a><a class="fab fa-whatsapp icon-whatsapp" href="#" title="Whatsapp"> </a></nav>
        </div>
      </div>
      <div class="copyright w-100"> 
        <div class="container">
          <p> Copyright © 2019 all rights reserved</p><a href="#"><i class="fas fa-mobile-alt"></i>Emergency Line <br>19552</a>
        </div>
      </div><a class="fa fa-angle-up scrollToTop" href="#"></a>
    </footer>
  </body>
</html>